body {
  margin: 0;
  font-family: Arial;
}

.hidden { display: none; }

.container {
  width: 1080px;
  height: 900px;
  background: #111;
  color: #fff;
  display: flex;
}

.sidebar {
  width: 200px;
  background: #1a1a1a;
  display: flex;
  flex-direction: column;
}

.sidebar button {
  padding: 10px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 20px;
}
